.postwrapper {
    margin: 120px auto;
    max-width: 768px;
    border-radius: 3px;
    box-shadow:  0px 1px 10px 2px rgba(0,0,0,.6);
    & img {
        max-width: 100%;
    }
    & .postTitle {
        color: #fff;
        h2{
            color: #fff;
            background-color: rgb(26, 34, 44);
            border-radius: 3px 3px 0 0;
            margin: 0;
            padding:20px;
            font-size: 24px;
            font-weight: 100;
        }
    }

}
.postFooter{
    color: #333;
    text-align: center;
    padding: 30px;
    & i{
    display: inline;
    opacity: 0.3;
    font-size: 25px;
    }
    & span{
        display: inline;
        vertical-align: super;
        margin-right: 30px;
        margin-left: 10px;
        color: #333;
        opacity: 0.5;
        font-weight: bold;
        font-size: 25px;

    }
}
.postBodyImage{
    text-align: center;
}
