.header {
    background: rgba(0, 0, 0, 0.85);
    min-height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    color: #fff;
    & .header-logo {
        font-size: 50px;
        color: #fff;
    }
    & .header-wrapper {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        li {
            display: inline-block;
            color: #fff;
            margin: 0 10px;
            text-transform: capitalize;
            cursor: pointer;
            position: relative;
            &.active {
              color: #fa923f;
              &:after {
                position: absolute;
                content: '';
                height: 2px;
                bottom: -4px;
                margin: 0 auto;
                left: 0;
                width: 100%;
                background: white;
                transition: .5s;
              }
            }
        }
        .mainMenu li {
            margin: 20px;
            line-height: 40px;
        }
        .windowSort li {
            margin: 0 10px;
        }
        a {
            text-decoration: none;
            color: #fff;
            &:hover, &:active, &.active {
              color: #fa923f;
            }
        }
    }
}

.subMenu{
  background: #2e3035;
  padding: 10px 4px;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  margin: 20px;
  & span{
      padding-right: 20px;
  }
}

 .flex-grid {
  display: flex;
  & .col {
    flex: 1;
  }
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  .col {
    width: 32%;
  }
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
  }
  .flex-grid .col,
  .flex-grid-thirds .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
.flex-grid {
  margin: 0 0 20px 0;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 25px;
    float: right;
    margin-top: 6px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 6px;
      bottom: 5px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }


  input:checked + .slider {
    background-color: #fa923f;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #fa923f;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }

  .colContainer {
    text-align: center;
    line-height: 38px;
    margin-top: 20px;
  }
  .viralLabel{
      display: inline;;
      padding-right: 10px;
      float: right;
  }
