.caption {
    position: absolute;
    bottom: 0px;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.94);
    padding: 12px 4px;
    border-radius: 0 0 3px 3px;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-left: -10px;
    font-size: 0.9em;
    font-weight: bold;
}
